@keyframes wideIn {
    to {
        width: 85%;
    }
}

@keyframes fadeUp {
    to {
        opacity: 1;
        transform: translateY(0);
        letter-spacing: 1px;
        word-spacing: 2px;
    }
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}