@keyframes wideIn {
    to {
        width: 85%;
    }
}

@keyframes fadeUp {
    to {
        opacity: 1;
        transform: translateY(0);
        letter-spacing: 1px;
        word-spacing: 2px;
    }
}

@keyframes fadeIn {
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes intro {
    to {
        color: var(--tertiary-2);
        background: var(--secondary);
        border-top: 2px solid var(--tertiary-2);
    }
}