@media (min-width: 1024px) {
    hr {
        width: 30%;
    }

    h1 {
        font-size: 2.6rem;
    }

    p {
        font-size: 1.2rem;
    }

    .header {
        justify-content: space-around;
    }

    .menu {
        display: none;
    }

    .navbar {
        pointer-events: auto;
        display: flex;
        justify-content: space-between;
        border-radius: var(--bdr);
        backdrop-filter: var(--bdr);
        color: var(--secondary);
        margin: auto;
    }

    .link {
        display: block;
        margin-right: 0;
        border-radius: var(--bdr);
        backdrop-filter: var(--bdr);
        color: var(--secondary);
        margin: auto;
        margin-right: 0;
        width: fit-content;
    }

    .navbar li {
        border-radius: inherit;
        margin: 5px;
        transition: var(--trans);
        position: relative;
        border-bottom: 2px solid #00000000;
        cursor: pointer;
    }

    .navbar li:hover {
        border-bottom: 2px solid var(--tertiary-2);
        color: var(--tertiary-2);
    }

    .navbar li p {
        margin: 7px 10px;
    }

    h1 {
        font-size: 3.4rem;
    }

    #hero {
        height: 90vh;
    }

    #main, button:hover {
        color: var(--tertiary-2);
        background: var(--secondary);
    }

    .home {
        margin-bottom: 7rem;
    }

    .showcase {
        margin: 3rem 1rem;
    }

    .text {
        display: flex;
        margin: auto;
    }

    .box1, .box2 {
        width: 50%;
        margin: 5rem 5rem;
    }

    .text:nth-child(2) {
        flex-direction: row-reverse;
    }

    .boxed h1 {
        font-size: 5.6rem;
    }

    #right {
        margin-left: auto;
        margin-right: 5rem;
    }

    .w-card {
        flex-direction: row;
        width: 70%;
        background: url(../public/images/modern.JPG);
        background-position: center;
        background-attachment: scroll;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .card {
        width: 40%;
        backdrop-filter: var(--bdf);
    }
}