@media (min-width: 1024px) {
    hr {
        width: 30%;
    }

    h1 {
        font-size: 2.6rem;
    }

    p {
        font-size: 1.2rem;
    }

    .header {
        justify-content: space-around;
    }

    .menu {
        display: none;
    }

    .navbar {
        display: flex;
        justify-content: space-between;
        border-radius: var(--bdr);
        color: var(--secondary);
        backdrop-filter: var(--bdr);
        color: var(--primary);
    }

    .navbar li {
        border-radius: inherit;
        margin: 5px;
        transition: var(--trans);
        position: relative;
        border-bottom: 2px solid #00000000;
    }

    .navbar li:hover {
        border-bottom: 2px solid var(--primary);
    }

    .navbar li p {
        margin: 7px 10px;
    }

    #main, button:hover {
        color: #8adaff;
        background: var(--secondary);
    }

    .home p {
        width: 70%;
        margin: auto;
    }

    .showcase {
        margin: 2rem 1rem;
    }
}