@media (min-width: 900px) {
    hr {
        width: 30%;
    }

    h1 {
        font-size: 2.6rem;
    }

    p {
        font-size: 1.2rem;
    }

    .header {
        justify-content: space-around;
    }

    .container {
        display: none;
    }

    .navbar {
        pointer-events: auto;
        display: flex;
        justify-content: space-between;
        border-radius: var(--bdr);
        backdrop-filter: var(--bdr);
        color: var(--secondary);
        margin: auto;
        text-transform: uppercase;
        letter-spacing: 4px;
    }

    .link {
        display: block;
        margin-right: 0;
        border-radius: var(--bdr);
        backdrop-filter: var(--bdr);
        color: var(--secondary);
        margin: auto;
        margin-right: 2%;
        width: fit-content;
    }

    .navbar li {
        border-radius: var(--bdr);
        margin: 0 5px;
        transition: var(--trans);
        position: relative;
        border-bottom: 2px solid transparent;
        cursor: pointer;
    }

    .navbar li:hover {
        border-bottom: 2px solid var(--tertiary-2);
        color: var(--tertiary-2);
        background: linear-gradient(transparent, transparent, var(--tertiary-3));
    }

    .navbar li p {
        margin: 7px 10px;
        font-size: 1rem;
    }

    .header:hover {
        color: var(--primary);
        background: var(--secondary);
        box-shadow: var(--shadow), var(--i-shadow);
    }

    .header:hover .navbar li p {
        color: var(--primary);
    }

    .header:hover #main p, .link a, .header:hover .name p {
        color: var(--tertiary-2);
    } 

    h1 {
        font-size: 3.4rem;
    }

    #hero {
        height: 100vh;
    }

    button:hover {
        color: var(--tertiary-2);
        background: var(--secondary);
    }

    #main {
        color: var(--secondary);
        background: transparent;
        animation: 0.7s intro cubic-bezier(0.68, -0.55, 0.265, 1.55) forwards;
        animation-delay: 2s;
    }

    .home {
        margin-bottom: 7rem;
    }

    .home p {
        width: 50%;
    }

    .grid-container {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas:
         "header main aside"
         "aside-2 nav footer";
    }

    .brief-card {
        margin-bottom: 10rem;
    }

    .brief-name h1 {
        margin-bottom: 3rem;
    }

    .list {
        padding: 0 var(--pad);
        border-start-start-radius: var(--bdr-2);
        border-start-end-radius: var(--bdr-2);
    }

    .list li {
        margin: 20px 5px;
    }

    .list li.active {
        padding: 10px 50px;
    }

    .showcase {
        margin: 3rem 0;
        max-width: 570px;
        width: 30%;
    }

    .text {
        grid-template-areas: 
         "head side"
         "foot side";
    }

    .showcase.active {
        width: 40vw;
        scrollbar-width: thin;
    }

    .box2 {
        width: 45%;
        background: url(../public/tab-img.JPG);
        height: 100vh;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        border-radius: var(--bdr);
    }

    .text:nth-child(2):nth-child(2) {
        flex-direction: row-reverse;
    }

    .w-card {
        flex-direction: row;
        width: 70%;
        margin: auto;
        justify-content: space-evenly;
    }

    .card {
        width: 40%;
        backdrop-filter: var(--bdf);
    }

    .card h1 {
        font-size: 3rem;
    }

    .b-of-card {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .b-card {
        width: 30%;
        margin: 2rem auto;
    }

    .pages {
        width: 30%;
        text-align: center;
    }
    
    .heading h1 {
        padding: 9rem 0 6rem 0;
        font-size: 5.6rem;
    }

    .footer a {
        font-size: 1.3rem;
    }

    .h-link {
        flex-direction: row;
        justify-content: space-evenly;
    }

    .links {
        width: 30%;
        border: none;
    }

    .links:nth-child(2) {
        border-left: 2px solid var(--bg);
        border-right: 2px solid var(--bg);
        border-top: none;
        border-bottom: none;
    }

    .form {
        width: 50%;
    }

    input {
        width: 44%;
    }

    .user-input {
        justify-content: space-between;
    }
}