html, body {
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    scrollbar-width: none;
}

:root {
    --bg: #fff;
    --trans-bg: #ffffffb2;
    --trans-bg-2: #ffffff5e;
    --primary: #ebebeb;
    --primary-2: #002272;
    --primary-3: #6895ff9d;
    --secondary: #000000b9;
    --secondary-2: #1b1b1b;
    --secondary-3: #0e0e0e;
    --tertiary: #a70000;
    --tertiary-2: #ff4444;
    --tertiary-3: #360000;
    --tertiary-4: #d600001e;
    --tertiary-5: #fac6c6;
    --text: #00000079;
    --text-2: #ffffffa6;
    --border: 3rem;
    --pad: 1rem;
    --b-pad: 2rem;
    --bdr: 1rem;
    --bdr-2: 2rem;
    --bdf: blur(5px) saturate(0%) brightness(120%);
    --bdf-2: blur(5px) saturate(0%) brightness(60%);
    --shadow: 0 0 35px #0000007e;
    --b-shadow: 0 0 35px #d6000085;
    --i-shadow: inset 0 0 3px #f00;
    --trans: all 0.3s ease;
    --cb-trans: all 1s cubic-bezier(0.86, 0, 0.07, 1);
}

body {
    background: var(--bg);
    color: var(--primary);
    word-spacing: 2px;
    letter-spacing: 1px;
}

div, section, h1, h2, h3, h4, h5, h6, p, img, li, ul, a {
    margin: 0;
    padding: 0;
}

h1 {
    font-weight: 500;
    font-family: 'Times New Roman', Times, serif;
    font-size: 3.3rem;
}

h2 {
    font-size: 2.6rem;
}

h3 {
    font-size: 2rem;
}

h4 {
    font-size: 1.6rem;
}

p {
    font-size: 20px;
}

h2, h3, p, h4 {
    font-weight: 400;
}

em {
    color: var(--secondary);
}

hr {
    width: 70%;
    margin: 2rem auto;
}

li {
    list-style: none;
}

a {
    color: var(--secondary);
}

a {
    text-decoration: none;
}

img {
    width: 100%;
    height: auto;
}

.navigation {
    position: fixed;
    z-index: 900;
    width: 100%;
}

.header {
    color: black;
    background: var(--trans-bg-2);
    padding: 10px var(--pad);
    justify-content: space-between;
    display: flex;
    backdrop-filter: var(--bdf);
    -webkit-backdrop-filter: var(--bdf);
    width: 85%;
    margin: 0.7em auto;
    border-radius: var(--bdr);
    box-shadow: var(--i-shadow);
    transition: var(--trans);
    top: 0;
}

.header em {
    color: var(--tertiary-2);
}

.header.active {
    color: var(--primary);
    background: var(--secondary);
    box-shadow: var(--shadow), var(--i-shadow);
}

.name {
    margin: auto;
    margin-left: 0;
    width: fit-content;
    letter-spacing: 0px;
}

rd {
    color: var(--tertiary-2);
}

.menu {
    height: 20px;
    width: 25px;
    position: relative;
    margin: auto;
    margin-right: 0;
    cursor: pointer;
}

.menu span {
    background: var(--secondary);
    height: 2px;
    width: 100%;
    position: absolute;
    transition: var(--trans);
}

.menu span:nth-child(2), .menu span:nth-child(3) {
    transform: translateY(-50%);
    top: 50%;
}

.menu span:last-child {
    bottom: 0;
}

.menu.fold span:first-child {
    opacity: 0;
}

.menu.fold span:nth-child(2) {
    transform: rotate(45deg) translateY(-50%);
    background: var(--tertiary-2);
}

.menu.fold span:nth-child(3) {
    transform: rotate(-45deg);
    background: var(--tertiary-2);
}

.menu.fold span:last-child {
    opacity: 0;
}

.navbar {
    display: none;
    pointer-events: none;
}

.open-menu {
    pointer-events: none;
    font-size: 1.4rem;
    height: 100%;
    width: 100%;
    right: 0;
    background: var(--text);
    backdrop-filter: var(--bdf);
    -webkit-backdrop-filter: var(--bdf);
    height: 90vh;
    box-shadow: 0 0 50px #000;
    border-end-end-radius: 1rem;
    border-end-start-radius: 1rem;
    transform: translateX(150%);
    transition: var(--trans);
    position: absolute;
}

.open-menu.show {
    pointer-events: auto;
    transform: translateX(0);
}

.pages li {
    color: var(--primary);
    padding: 0.5rem 0;
    border-top: 2px solid transparent;
    transition: var(--trans); 
}

.pages li:hover {
    color: var(--tertiary-2);
}

.pages li p {
    margin-right: 1.5rem;
    text-align: right;
}

#hero {
    background: url(../public/images/hero.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    height: 80vh;
    margin: 0;
    padding: 0;
    display: flex;
    position: relative;
}

.home {
    margin: auto;
    margin-bottom: 5rem;
    text-align: center;
    justify-content: center;
    align-content: center;
    width: 90%;
    z-index: 1;
    color: var(--bg);
}

.home em {
    background: var(--tertiary);
    padding: var(--pad);
    color: var(--bg);
    border-radius: var(--bdr);
}

.overlay {
    height: 100%;
    width: 100%;
    background: linear-gradient(transparent, #00000044, #000);
    position: absolute;
    z-index: 0;
}

.overlay2 {
    height: 100%;
    width: 100%;
    background: #000000a2;
    position: absolute;
    z-index: 0;
}

button {
    margin: 10px auto;
    padding: 1rem;
    background: #fff;
    font-weight: 300;
    font-size: 1rem;
    border: none;
    border-top: none;
    border-bottom: none;
    border-radius: var(--bdr);
    transition: var(--trans);
}

.list {
    margin: auto;
    height: fit-content;
    background: transparent;
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    bottom: 0;
    display: flex;
    justify-content: space-evenly;
}

.list li {
    background: var(--tertiary);
    color: var(--primary);
    padding: 10px 20px;
    margin: 0 5px;
    border-start-start-radius: var(--bdr);
    border-start-end-radius: var(--bdr);
    transition: all 0.7s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    border-top: 2px solid transparent;
    cursor: pointer;
}

.list p {
    color: var(--secondary);
    font-weight: 400;
    text-align: center;
}

.list li:hover {
    border-top: 2px solid var(--primary);    
}

.list li.active {
    padding: 10px 35px;
    background: var(--bg);
    color: var(--secondary);
}

#main, button:hover {
    color: var(--tertiary-2);
    background: var(--secondary);
    border-top: 2px solid var(--tertiary-2);
}

.image img, .b-img img {
    transition: all 1s cubic-bezier(0.86, 0, 0.07, 1);
}

.showcase:hover {
    box-shadow: var(--b-shadow);
}

.options h3 {
    text-align: center;
    color: var(--secondary);
    margin: auto;
    width: 90%;
}

.results {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: auto;
    width: fit-content;
}

.showcase {
    width: 80%;
    max-width: 400px;
    box-shadow: var(--shadow);
    border-radius: var(--bdr);
    margin: 1.5rem auto;
    justify-content: space-around;
    transition: var(--trans);
}

.image {
    height: 150px;
    width: 100%;
    overflow: hidden;
    border-start-start-radius: inherit;
    border-start-end-radius: inherit;
}

.showcase:hover .image img {
    scale: 1.1;
}

.description {
    width: inherit;
    margin: auto;
}

.description h2 {
    color: var(--secondary);
    text-align: left;
    margin: 1rem 0;
    font-size: 1.3rem;
}

.description p b {
    color: var(--tertiary);
    margin: 1rem 0;
}

.description p {
    color: var(--text);
    font-size: 16px;
}

.icons {
    display: flex;
    gap: 0.5rem;
    margin: 2rem 0;
}

#categories {
    display: none;
}

#price {
    display: none;
}

.transition {
    width: 100%;
    height: 7rem;
    background: linear-gradient(transparent, var(--primary-2));
}

.transition-2 {
    width: 100%;
    height: 7rem;
    background: linear-gradient(var(--primary-2), transparent);
}

.about, .about2 {
    color: var(--primary);
    margin: 0 auto;
    background-color: var(--primary-2);
}

.about2 {
    padding-top: 5rem;
    background: var(--bg);
    color: var(--secondary-2);
}

.text, .text2 {
    width: 100%;
    color: var(--text-2);
    z-index: 1;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.text2 {
    color: var(--text);
}

.text p {
    color: var(--text-2);
}

.text2 p {
    color: var(--text);
}

.boxed h1, .blog h1 {
    background: radial-gradient(var(--primary), var(--primary), var(--primary), var(--primary), transparent, transparent);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    width: fit-content;
    text-align: center;
    margin: auto;
}

.boxed {
    width: fit-content;
    margin: 0 auto;
    padding: 1rem 0;
}

.box1, .box2 {
    width: 90%;
    height: 30%;
    margin: 2rem auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.box2 {
    background: url(../public/tab-img.JPG);
    height: 40vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: var(--bdr);
}

.face {
    margin: auto;
    padding: 2rem 0;
    width: fit-content;
}

.face img {
    height: 200px;
    width: 200px;
    border-radius: var(--bdr);
}

.w-card {
    display: flex;
    flex-direction: column;
    width: fit-content;
    padding: var(--pad);
    justify-content: space-evenly;
    border-radius: var(--bdr);
    width: 90%;
}

.card {
    border-radius: inherit;
    width: 90%;
    justify-content: center;
    text-align: center;
    padding: var(--pad);
    box-shadow: var(--i-shadow), var(--shadow);
    display: flex;
    background: var(--secondary);
    flex-direction: column;
    margin: 2rem auto;
}

.card em {
    color: var(--tertiary-2);
}

.card h1 {
    text-shadow: var(--b-shadow);
    margin: auto;
    font-size: 1.6rem;
}

.card h3 {
    color: var(--text-2);
    margin: auto;
    font-size: 1.6rem;
}

.link {
    display: none;
}

.blog {
    padding: 3rem 0 7rem 0;
    background: var(--primary);
}

.b-of-card {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.b-card {
    background: #dfdfdf;
    width: 90%;
    margin: auto;
    color: var(--secondary-3);
    box-shadow: var(--shadow);
    border-radius: var(--bdr);
    margin: 2rem auto;
}

.b-img {
    border-radius: var(--bdr);
    overflow: hidden;
    height: fit-content;
    position: relative;
}

.b-img:hover img {
    scale: 1.1;
}

.b-text {
    color: var(--primary);
    background: linear-gradient(transparent, var(--secondary-3));
    width: 100%;
    text-align: center;
    padding: var(--pad) 0;
    position: absolute;
    bottom: 0;
}

/* Footer  */

.footer {
    color: var(--text-2);
    padding: var(--pad);
    background: var(--secondary-3);
}

.footer h3 {
    margin: 3rem auto;
    color: var(--tertiary-2);
}

.footer a {
    color: var(--text-2);
}

.heading {
    background: url(../public/header.JPG);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
}

.heading h1 {
    height: 100%;
    width: 100%;
    background: #00000088;
    padding: 9rem 0 6rem 0;
    color: var(--bg);
    font-size: 5.6rem;
}

.c-name {
    text-align: center;
    color: var(--primary);
}

.h-link {
    display: flex;
    justify-content: space-between;
}

.links a {
    display: block;
    transition: var(--trans);
    margin: 4px auto;
}

.links a:hover {
    color: var(--primary);
    text-shadow: 0 0 10px var(--primary);
}

.footer h3 {
    text-align: center;
}

.form {
    margin: 1rem auto;
    width: fit-content;
    margin-bottom: 5rem;
}

input, textarea {
    margin: .5rem .1rem;
    border-radius: var(--bdr);
    border: none;
    background: var(--bg);
    box-shadow: 0 0 10px #00000057;
    transition: var(--trans);
    padding: var(--pad);
    width: 35%;
}

input:hover, textarea:hover {
    box-shadow: var(--b-shadow);
    background: var(--tertiary-5);
}

.user-input {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    box-shadow: var(--i-shadow), var(--b-shadow);
    padding: var(--pad);
    border-radius: var(--bdr-2);
}

#submit {
    width: 100%;
    background: var(--tertiary-2);
}

#submit:hover {
    background: var(--tertiary);
    color: var(--primary);
    box-shadow: var(--i-shadow), var(--b-shadow);
}

textarea {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 100%;
    resize: vertical;
}