html, body {
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    scrollbar-width: none;
}

:root {
    --bg: #f1f1f1;
    --trans-bg: #004d7085;
    --primary: #fff;
    --tertiary: #004d70;
    --secondary: #000000b9;
    --text: #0000008c;
    --border: 3rem;
    --pad: 1rem;
    --bdr: 7px;
    --bdf: blur(5px) saturate(120%) brightness(60%);
    --shadow: 0 0 35px #004c70ab;
    --trans: all 0.3s ease;
}

body {
    background: var(--bg);
    color: var(--primary);
}

div, section, h1, h2, h3, h4, h5, h6, p, img, li, ul {
    margin: 0;
    padding: 0;
}

h1 {
    font-weight: 500;
    font-family: 'Times New Roman', Times, serif;
}

h2, h3, p {
    font-weight: 400;
}

em {
    color: var(--secondary);
}

hr {
    width: 70%;
    margin: 2rem auto;
}

li {
    list-style: none;
}

a {
    color: var(--secondary);
}

a {
    text-decoration: none;
}

.navigation {
    position: fixed;
    z-index: 900;
    width: 100%
}

.header {
    color: var(--bg);
    background: var(--trans-bg);
    padding: 5px 10px;
    justify-content: space-between;
    display: flex;
    backdrop-filter: var(--bdf);
}

.header em {
    color: #8adaff;
}

.name {
    margin: auto;
    margin-left: 0;
    width: fit-content;
}

.menu {
    height: 25px;
    width: 35px;
    /* background: rgba(255, 0, 0, 0.979); */
    position: relative;
    margin: auto;
    margin-right: 0;
}

.menu span {
    background: var(--primary);
    height: 2px;
    width: 100%;
    position: absolute;
}

.menu span:nth-child(2) {
    transform: translateY(-50%);
    top: 50%;
}

.menu span:last-child {
    bottom: 0;
}

.navbar {
    display: none;
}

#hero {
    background: url(../public/images/terrace.JPG);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    height: 80vh;
    margin: 0;
    padding: 0;
    display: flex;
    position: relative;
}

.home {
    margin: auto;
    text-align: center;
    justify-content: center;
    align-content: center;
    width: 90%;
    z-index: 1;
}

.overlay {
    height: 100%;
    width: 100%;
    background: linear-gradient(var(--trans-bg), var(--trans-bg), #000);
    position: absolute;
    z-index: 0;
}

button {
    margin: 10px auto;
    padding: 1rem;
    background: #fff;
    font-weight: 300;
    font-size: 1rem;
    border: none;
    border-top: none;
    border-bottom: none;
    border-radius: var(--bdr);
    transition: var(--trans);
}

.list {
    margin: auto;
    height: fit-content;
    background: transparent;
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    bottom: 0;
    display: flex;
    justify-content: space-evenly;
}

.list li {
    background: var(--tertiary);
    color: var(--primary);
    padding: 10px 20px;
    margin: 0 5px;
    border-start-start-radius: var(--bdr);
    border-start-end-radius: var(--bdr);
    transition: var(--trans);
}

.list p {
    color: var(--secondary);
    font-weight: 400;
    text-align: center;
}

#main, button:hover, .list li:hover {
    color: #8adaff;
    background: var(--secondary);
}

.options, .image img {
    transition: var(--trans);
}

.showcase:hover {
    scale: 1.03;
}

.options h2 {
    text-align: center;
    color: var(--secondary);
    margin: auto;
    width: 90%;
}

.results {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: auto;
    width: fit-content;
}

.showcase {
    width: 90%;
    max-width: 400px;
    box-shadow: var(--shadow);
    border-radius: var(--bdr);
    margin: 1.5rem auto;
    justify-content: space-around;
    transition: var(--trans);
}

.image {
    height: 200px;
    width: 100%;
    overflow: hidden;
    border-start-start-radius: inherit;
    border-start-end-radius: inherit;
}

.image img {
    width: 100%;
    height: auto;
}

.image img:hover {
    scale: 1.1;
}

.description {
    width: inherit;
    margin: auto;
}

.description h2 {
    color: var(--secondary);
    text-align: left;
    margin: 1rem 0;
}

.description h2 b {
    color: var(--tertiary);
    /* font-weight: 400; */
}

.description p {
    color: var(--text);
    font-size: 16px;
}

.icons {
    display: flex;
    gap: 0.5rem;
    margin: 2rem 0;
}