html, body {
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    scrollbar-width: thin;
    scroll-behavior: smooth;
    scrollbar-color: var(--tertiary-2) transparent;
    max-width: 4000px;
    -webkit-font-smoothing: antialiased;
}

:root {
    --bg: #e4e4e4;
    --bg-2: #c5c5c5;
    --trans-bg: #ffffffda;
    --trans-bg-2: #ffffff5e;
    --linear-bg: linear-gradient(45deg, #ffffff67, #85858567);
    --primary: #fff;
    --primary-2: #d7e5f0;
    --secondary: #000000b9;
    --secondary-2: #1b1b1b;
    --secondary-3: #0e0e0e;
    --secondary-4: #4d4d4d;
    --tertiary: #a70000;
    --tertiary-2: #ff4444;
    --tertiary-3: #360000;
    --tertiary-4: #d600001e;
    --tertiary-5: #fac6c6;
    --text: #00000079;
    --faint: #00000041;
    --faint-2: #ffffff41;
    --text-2: #ffffffde;
    --border: 3rem;
    --border-line: 2px solid #85858567;
    --border-line-2: 2px solid #ff4444;
    --border-line-3: 2px solid #8585853a;
    --pad: 1rem;
    --b-pad: 2rem;
    --bdr: 1rem;
    --bdr-2: 2rem;
    --bdf: blur(5px) saturate(0%) brightness(120%);
    --bdf-2: blur(5px) /* saturate(0%) */ brightness(30%);
    --shadow: 0 0 20px #24222293;
    --b-shadow: 0 0 35px #d6000085;
    --i-shadow: inset 0 0 3px #f00;
    --i-shadow-2: inset 0 0 10px #f00;
    --s-shadow: 0px 0px 10px #00000088;
    --s-shadow-2: 0px 0px 20px #8dcbf5;
    --trans: all 0.3s ease;
    --cb-trans: all 1s cubic-bezier(0.68, -0.55, 0.265, 2);
}

body {
    background: var(--bg);
    color: var(--text);
    word-spacing: 2px;
    letter-spacing: 1px;
}

div, section, h1, h2, h3, h4, h5, h6, p, img, li, ul, a {
    margin: 0;
    padding: 0;
}

h1 {
    font-weight: 500;
    font-family: 'Times New Roman', Times, serif;
}

h3 {
    font-size: 2rem;
}

h4 {
    font-size: 1.6rem;
}

h2, h3, p, h4 {
    font-weight: 400;
}

p {
    width: 90%;
}

em {
    color: var(--secondary);
}

hr {
    width: 70%;
    margin: 2rem auto;
}

li {
    list-style: none;
}

a { color: var(--secondary); text-decoration: none; }

img {
    width: 100%;
    height: auto;
}

.navigation {
    position: fixed;
    z-index: 900;
    width: 100%;
}

.header {
    color: black;
    padding: 10px var(--pad);
    background: #d7e5f0bb;
    justify-content: space-between;
    display: flex;
    width: 100%;
    backdrop-filter: blur(200px);
    -webkit-backdrop-filter: blur(200px);
    border-radius: var(--bdr);
    box-shadow: var(--s-shadow);
    transition: var(--trans);
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    z-index: 9999;
}

.header p {
    width: fit-content;
}

.header em {
    color: var(--tertiary-2);
}

.header.active {
    background: var(--secondary);
    box-shadow: var(--shadow), var(--i-shadow);
}

.header.active p {
    color: var(--bg);
}

.name {
    margin: auto;
    margin-left: 2%;
    width: fit-content;
    letter-spacing: 0px;
    display: flex;
    justify-content: space-evenly;
}

.name p {
    font-size: 1rem;
    color: var(--secondary-4);
    transition: var(--trans);
}

.name img, .link img {
    height: 25px;
    width: auto;
    margin: auto;
}

.link img {
    transition: var(--trans);
}

.link img:hover {
    scale: 1.1;
}

rd {
    color: var(--tertiary-2);
    transition: var(--trans);
}

.container {
    padding: .5rem;
    border-radius: 50%;
    border: 2px solid var(--secondary-4);
    transition: var(--trans);
    margin-right: 2%;
}

.menu, .menu img {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    position: relative;
    margin: auto;
    cursor: pointer;
}

.menu span {
    background: var(--secondary-4);
    height: 2px;
    width: 100%;
    position: absolute;
    transition: var(--trans);
}

.menu span:first-child {
    top: 20%;
}

.menu span:nth-child(2), .menu span:nth-child(3) {
    transform: translateY(-50%);
    top: 50%;
}

.menu span:last-child {
    bottom: 20%;
}

.container.fold {
    border: 2px solid var(--tertiary-2);
}

.menu.fold span:first-child {
    opacity: 0;
}

.menu.fold span:nth-child(2) {
    transform: rotate(45deg) translateY(-50%);
    background: var(--tertiary-2);
}

.menu.fold span:nth-child(3) {
    transform: rotate(-45deg);
    background: var(--tertiary-2);
}

.menu.fold span:last-child {
    opacity: 0;
}

.navbar {
    display: none;
    pointer-events: none;
}

.open-menu {
    pointer-events: none;
    font-size: 1.4rem;
    height: 100%;
    width: 100%;
    right: 0;
    background: var(--text);
    backdrop-filter: var(--bdf-2);
    -webkit-backdrop-filter: var(--bdf-2);
    height: fit-content;
    box-shadow: 0 0 50px #000;
    border-end-end-radius: 1rem;
    border-end-start-radius: 1rem;
    transform: translateX(150%);
    transition: var(--trans);
    position: absolute;
    z-index: 1000;
    margin-top: 5rem;
    height: 100vh;
    overflow-y: scroll;
    scrollbar-width: none;
}

.open-menu.show {
    pointer-events: auto;
    transform: translateX(0);
}

.pages, .pages-h {
    height: 30%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    margin: 10% auto;
}

.pages li {
    color: var(--primary);
    padding: 0.5rem 0;
    border-top: 2px solid transparent;
    transition: var(--trans);
}

.pages li p {
    margin: auto;
    text-align: center;
    color: var(--primary);
}

.pages li p:hover, #main p  {
    color: var(--tertiary-2);
}

#hero {
    background: url(../public/images/hero.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    height: 90vh;
    margin: 0;
    padding: 0;
    display: flex;
    position: relative;
}

.home {
    margin: auto;
    justify-content: center;
    align-content: center;
    margin-bottom: 20%;
    width: 90%;
    z-index: 1;
    color: var(--bg);
}

.home h1 {
    opacity: 0;
    letter-spacing: 1px;
    word-spacing: 2px;
    animation: 3s fadeUp forwards;
    margin: 1rem 0;
}

.home p {
    opacity: 0;
    color: var(--text-2);
    animation: 3s fadeUp forwards;
    animation-delay: 1s;
}

.capital {
    text-transform: uppercase;
    letter-spacing: 4px;
    color: var(--secondary);
}

.capital.light {
    color: var(--primary);
    text-transform: uppercase;
    letter-spacing: 4px;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 300;
}

.capital.middle {
    text-align: center;
}

.primary, .primary2, .secondary {
    padding: var(--pad);
    background: var(--faint-2);
    color: var(--primary);
    box-shadow: var(--s-shadow);
    border-radius: var(--bdr-2);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

.secondary {
    background: #000;
    box-shadow: var(--i-shadow-2);
}

.primary:hover, .primary2:hover, .secondary:hover {
    scale: 1.1;
}

.secondary:hover {
    background: var(--tertiary);
}

.primary2 {
    display: none;
}

.primary2.active {
    display: inline-block;
}

.primary.active {
    display: none;
}

.icon {
    color: var(--primary);
    display: inline;
    margin-left: .5rem;
    padding: .5rem .8rem;
    height: fit-content;
    border-radius: 50%;
    font-weight: 900;
    font-size: 1.3rem;
    transition: var(--trans);
}

.primary:hover .icon, .primary2:hover .icon {
    background: var(--primary);
    color: #000;
}

.secondary .icon {
    background: none;
    color: var(--primary);
}

.secondary:hover .icon {
    background: #000;
    color: var(--tertiary);
}

.home hr {
    margin: .5 rem auto;
}

.home em {
    background: var(--tertiary);
    padding: .3rem var(--pad);
    color: var(--bg);
    border-radius: var(--bdr);
}

.overlay {
    height: 100%;
    width: 100%;
    background: #0000009c;
    position: absolute;
    z-index: 0;
    pointer-events: none;
}

.overlay-2 {
    height: 100%;
    width: 100%;
    background: #00000044;
    position: fixed;
    z-index: 0;
    pointer-events: none;
}

button {
    margin: 10px auto;
    padding: 1rem;
    background: #fff;
    font-weight: 300;
    font-size: 1rem;
    border: none;
    border-radius: var(--bdr);
    transition: var(--trans);
    cursor: pointer;
}

.recent {
    margin: 4rem auto;
    color: var(--secondary-3);
    width: 95%;
}

.grid-container, .grid-container-2 {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: minmax(120px, auto);
    margin: inherit;
    width: 95%;
    grid-template-areas:
     "header main" 
     "header main" 
     "aside aside-2" 
     "aside aside-2" 
     "nav footer"
     "nav footer";
    border-radius: var(--bdr-2);
    background: none;
    appearance: none;
    -webkit-appearance: none;
}

.grid-container-2 {
    grid-template-areas:
     "header header" 
     "main main" 
     "aside aside" 
     "aside-2 aside-2" 
     "nav nav"
     "footer footer";
}

.grid-container .grid, .grid-container-2 .grid {
    background: var(--faint);    
    position: relative;
    overflow: hidden;
    transition: var(--trans);
    display: flex;
    transition: var(--trans);
    position: relative;
    appearance: none;
    -webkit-appearance: none;
    border-radius: var(--bdr-2);
    box-shadow: var(--s-shadow-2);
}

.grid-container .grid .info img {
    height: 100%;
    transition: var(--trans);
    z-index: 0;
}

.grid-container div:hover .info img {
    scale: 1.1;
}

.grid:hover {
    box-shadow: var(--b-shadow);
}

.grid.h { grid-area: header; }

.grid.m { grid-area: main; }

.grid.a { grid-area: aside; }

.grid.a2 { grid-area: aside-2; }

.grid.n { grid-area: nav; }

.grid.n2 { grid-area: nav-2; }

.grid.f { grid-area: footer; }

.info {
    position: relative;
    background: transparent;
}

.interactions {
    z-index: 10;
    background: var(--faint);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    z-index: 100;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    justify-content: center;
    width: 100%;
    height: 100%;
    transition: var(--trans);
    color: var(--primary);
    border-radius: var(--bdr-2);
}

.interactions:hover {
    background: transparent;
    color: var(--tertiary-2);
}

.interactions h3, .interactions button {
    width: fit-content;
    height: fit-content;
    margin: auto;
}

.project {
    background: linear-gradient(-45deg, var(--secondary-4), var(--secondary-3), #000);
}

.project .brief {
    padding: 4rem 0;
    margin: 0 auto;
}

.project p {
    color: var(--bg);
}

.brief {
    width: 95%;
    margin: 6rem auto;
}

.brief h1, .brief h3 {
    text-align: center;
}

.brief button {
    margin: 2rem auto;
}

.brief-of-cards {
    margin: 2rem auto;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.brief-card {
    border-radius: var(--bdr);
    overflow: hidden;
    margin-bottom: 4rem;
    box-shadow: var(--shadow);
    transition: var(--trans);
    width: 90%;
    margin: 1rem auto;
    background: #000;
    opacity: 0.95;
}

.brief-card:hover {
    opacity: 1;
    scale: 1.05;
    box-shadow: var(--s-shadow);
}

.project .brief-of-card {
    flex-direction: column;
}

.project .brief-card {
    box-shadow: 0 0 7px var(--tertiary-2);
    margin-bottom: 0;
    margin-bottom: 4rem;
    max-width: 1024px;
}

.brief-img {
    position: relative;
    border-start-start-radius: inherit;
    border-start-end-radius: inherit;
}

.brief-img h1, .brief-text p {
    letter-spacing: 4px;
    margin: auto;
}

.brief-text {
    padding: 0 var(--b-pad);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.brief-text p {
    border-radius: var(--bdr);
    border: var(--border-line-3);
    width: fit-content;
    padding: var(--pad);
    font-size: 18px;
    margin: 1rem auto;
    color: var(--bg);
}

.brief-img h1 {
    width: 90%;
    color: var(--tertiary-2);
}

.brief-name {
    position: absolute;
    bottom: 0;
    background: linear-gradient(transparent, #000);
    color: var(--tertiary-2);
    width: 100%;
    padding-top: 20%;
    transition: var(--trans);
}

.brief-icon {
    margin-top: 2rem;
}

.brief-overlay {
    display: none;
}

.full-card {
    height: 0px;
    overflow: hidden;
}

.full-card.active {
    height: auto;
    animation: 0.7s fadeIn forwards;
    animation-delay: .3s;
}

.full-card h2 {
    margin: 1.5rem auto;
    color: var(--primary);
}

.full-card img {
    max-width: 700px;
}

.b-p {
    display: flex;
    gap: 8px;
    padding: 16px;
    list-style: none;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
}

.item {
    flex-shrink: 0;
    width: 80%;
    scroll-snap-align: center;
}

.display {
    display: flex;
    overflow-y: scroll;
    scrollbar-width: none;
    padding: var(--pad) 0;
    border-top: 2px solid var(--primary);
    border-bottom: 2px solid var(--primary);
    margin: 2rem 0;
}

.display img {
    width: 90%;
    margin: 0 10px;
}

.list {
    margin: auto;
    margin-top: var(--b-pad);
    height: fit-content;
    width: fit-content;
    background: transparent;
    display: flex;
    justify-content: space-evenly;
}

.list li {
    background: var(--secondary);
    color: var(--bg);
    padding: 10px 15px;
    margin: 5px;
    border-radius: var(--bdr);
    transition: var(--cb-trans);
    cursor: pointer;
    box-shadow: var(--s-shadow);
}

.list p {
    color: var(--secondary);
    font-weight: 400;
    text-align: center;
}

.list li:hover {
    background: var(--tertiary-2);
    color: var(--secondary-3);
}

.list li.active {
    padding: 10px 40px;
    background: var(--tertiary);
    animation: 5.7s bounce;
    color: var(--primary);
}

button:hover, .interactions:hover button {
    scale: 1.1;
}

#main {
    background: transparent;
    animation: 1s intro cubic-bezier(0.68, -0.55, 0.265, 1.55) forwards;
    animation-delay: 2s;
}

.image img, .b-img img, .b-text {
    transition: all 1s cubic-bezier(0.86, 0, 0.07, 1);
}

.options {
    padding: 5rem 0;
}

.options h1 {
    text-align: center;
    color: var(--secondary);
    margin: auto;
    width: 90%;
    font-size: 2.5rem;
}

.results {
    display: none;
    opacity: 0;
    transform: translateY(20px);
}

.results.active {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: auto;
    animation: 0.7s fadeIn forwards;
    animation-delay: .3s;
}

.showcase {
    width: 80%;
    max-width: 470px;
    border: var(--border-line);
    box-shadow: var(--s-shadow-2);
    margin: 1.3rem auto;
    justify-content: space-around;
    transition: all .4s ease-in-out;
    border-radius: var(--bdr-2);
    background: var(--primary-2);
}

.showcase:hover {
    box-shadow: var(--b-shadow);
    border: var(--border-line-2);
    background: var(--bg);
}

.showcase h2 {
    transition: all .4s ease-in-out;
    border-bottom: 2px solid transparent;
    width: fit-content;
    margin: .5rem auto;
    text-transform: uppercase;
    letter-spacing: 4px;
}

.showcase:hover h2 {
    color: var(--tertiary-2);
    border-bottom: 1px solid var(--bg);
}

.showcase.active {
    width: 90vw;
    max-width: 90vw;
    scrollbar-width: none;
}

.showcase.active h2 {
    background: var(--bg);
    margin: 1rem auto;
    padding: var(--pad);
}

.image {
    height: fit-content;
    width: 100%;
    overflow: hidden;
    overflow-y: hidden;
    border-radius: inherit;
    position: relative;
}

.float, .price, .icons {
    position: absolute;
    padding: 10px;
    backdrop-filter: blur(3px) brightness(170%);
    -webkit-backdrop-filter: blur(3px) brightness(170%);
    border-radius: 10px;
    box-shadow: 0 0 10px #0000006b;
    color: var(--secondary);
    font-weight: 700;
    transition: var(--trans);
}

.float, .price { top: 5%; }
.float { left: 5%; }
.price { right: 5%; }

.icons {
    bottom: 5%;
    transform: translateX(-50%);
    left: 50%;
    color: var(--secondary-3);
    display: grid;
    gap: 30px;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
     "room size";
}

.icons p { font-size: 15px; font-weight: 700; }

.showcase:hover .float, .showcase:hover .price, .showcase:hover .icons {
    box-shadow: 0 0 10px var(--tertiary-2);
    background: #ff4444a1;
    color: var(--primary);
}

#room, #size { display: flex; flex-direction: row; gap: 10px; }

#room img, #size img { width: 20px; height: auto; }
#room { grid-area: room; }
#size { grid-area: size; }

.image img {
    margin: 0;
    padding: 0;
    height: 0%;
    scale: 1.05
}

.showcase:hover .image img {
    scale: 1.15;
}

.description {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    position: relative;
}

.description h2 {
    transition: var(--trans);
    text-align: center;
}

.description h4 {
    color: var(--secondary);
    text-align: center;
    margin: .5rem auto;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 1.2rem;
    transition: var(--trans);
}

.description p b {
    color: var(--tertiary);
    margin: 1rem 0;
}

.description p {
    margin: 1rem auto;
    color: var(--text);
    font-size: 13px;
    text-align: center;
    transition: var(--trans);
}

.showcase:hover .description h4, .showcase:hover .description h2, .showcase:hover .description p {
    color: var(--tertiary);
}

.description img {
    border-radius: 8px;
}

.description button {
    color: var(--secondary);
    margin: 20px auto;
}

.description .full-card {
    height: 0px;
    overflow: hidden;
}

.description .full-card.active {
    height: auto;
    animation: 0.7s fadeIn forwards;
    animation-delay: .3s;
}

.description .full-card h2 {
    margin: 1.5rem auto;
    margin-top: 5rem;
}

.description .full-card p {
    font-size: 1rem;
    margin: 1rem 0;
}

.transition, .transition-2 {
    width: 50%;
    height: 7rem;
    background: linear-gradient(transparent, var(--text), var(--secondary-2));
}

.transition-2 {
    background: linear-gradient(var(--secondary-2), var(--text), transparent);
}

.about {
    width: 95%;
    color: var(--primary);
    margin: 2rem auto;
    opacity: 0;
    padding: var(--pad) 0;
    transform: translateY(20px);
    animation: .7s fadeUp forwards;
}

.text {
    border-radius: var(--bdr-2);
    display: grid;
    grid-gap: 15px;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: minmax(120px, auto);
    width: 100%;
    border-radius: var(--bdr-2);
    grid-template-areas:
     "head head" 
     "foot foot"
     "side side";
}

.text p {
    color: var(--text);
}

.text h1 {
    text-align: center;
    padding: var(--pad);
    color: var(--primary);
    text-align: center;
    font-size: 1.5rem;
    background: #000;
    border-radius: 4rem;
    box-shadow: var(--s-shadow), inset var(--b-shadow);
}

.text p b {
    color: var(--secondary-3);
}

.head, .foot, .side {
    padding: var(--pad);
    box-shadow: var(--s-shadow);
    border-radius: inherit;
}

.head { grid-area: head; }

.foot { grid-area: foot; }

.side { grid-area: side; }

.inspection {
    text-align: center;
    text-align: center;
    position: relative;
    height: 60vh;
    background: url(../public/tab-img.JPG);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.writing {
    width: fit-content;
    margin: auto;
    backdrop-filter: brightness(30%) blur(10px);
    -webkit-backdrop-filter: brightness(30%) blur(10px);
    color: var(--primary);
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card {
    border-radius: inherit;
    width: 90%;
    justify-content: center;
    text-align: center;
    box-shadow: var(--i-shadow), var(--shadow);
    display: flex;
    background: var(--secondary);
    flex-direction: column;
    margin: 2rem auto;
    background: url(../public/logo.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
}

.card h1 {
    padding: var(--pad) 0;
    text-shadow: var(--b-shadow);
    margin: auto;
    font-size: 1.6rem;
    height: 100%;
    width: 100%;
    backdrop-filter: var(--bdf-2);
    -webkit-backdrop-filter: var(--bdf-2);
    color: var(--bg);
    border-radius: inherit;
}

.card em {
    color: var(--tertiary-2);
}

.link {
    display: none;
}

.blog {
    padding: 3rem 0 7rem 0;
    background: url(../public/tab-img.JPG);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.blog h1 {
    backdrop-filter: blur(200px);
}

.b-of-card {
    display: flex;
    flex-direction: row;
    gap: 8px;
    padding: 16px;
    list-style: none;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
}

.b-card {
    flex-shrink: 0;
    width: 80%;
    scroll-snap-align: center;
    background: #dfdfdf;
    width: 90%;
    margin: auto;
    color: var(--secondary-3);
    box-shadow: var(--shadow);
    border-radius: var(--bdr);
    margin: 2rem auto;
    box-shadow: var(--shadow);
}

.b-img {
    border-radius: var(--bdr);
    overflow: hidden;
    height: fit-content;
    position: relative;
}

.b-img:hover img {
    scale: 1.1;
}

.b-text {
    color: var(--primary);
    background: linear-gradient(transparent, var(--secondary-3));
    width: 100%;
    text-align: center;
    padding: var(--pad) 0;
    position: absolute;
    bottom: 0;
}

.b-img:hover .b-text {
    scale: 1.05;
}


/* Footer  */

.footer {
    background: url(../public/images/hero.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.footer h1 {
    margin: 3rem auto;
    color: var(--tertiary-2);
    transform: translateY(20px);
    animation: .7s fadeUp forwards;
    max-width: 700px;
    text-align: center;
}

.footer a {
    color: var(--text-2);
}

.overlay-3 {
    backdrop-filter: brightness(10%) saturate(0%);
    -webkit-backdrop-filter: brightness(10%) saturate(0%);
    padding-top: 1rem;
}

.overlay-3 .writing {
    border-radius: var(--bdr-2);
    border: 2px solid #ffffff23;
    padding: 4rem;
    margin-bottom: 4rem;
    width: fit-content;
}

.overlay-3 .writing h1, .overlay-3 .writing h4 {
    margin: .2rem auto;
}

.heading {
    background: url(../public/header.JPG);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    opacity: 0;
    animation: 0.7s fadeUp forwards;
}

.heading h1 {
    height: 100%;
    width: 100%;
    background: #00000088;
    padding: 6rem 0 3rem 0;
    color: var(--bg);
    font-size: 2.6rem;
}

.c-name {
    text-align: center;
    color: var(--primary);
    padding: .5rem 0;
}

.h-link {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.links {
    margin: 1rem;
    border-bottom: 2px var(--primary);
    font-size: 1.2rem;
    justify-content: center;
}

.links:nth-child(2) {
    border-bottom: 2px solid var(--bg);
    border-top: 2px solid var(--bg);
}

.links p {
    margin: 1rem auto;
    transition: var(--trans);
    width: fit-content;
    color: var(--primary);
}

.links div {
    margin: 0 auto;
    width: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: minmax(100px, auto);
    gap: 10px;
    grid-template-areas:
     "one two"
     "three four";
}

.links a:hover {
    color: var(--primary);
    text-shadow: 0 0 10px var(--primary);
}

.links a:hover rd {
    text-shadow: 0 0 10px #f00;
}

.links img {
    width: 100%;
    margin: 0 auto;
    border-radius: 12px;
}

.footer h3, .footer p {
    text-align: center;
    max-width: 400px;
}

.form {
    margin: 1rem auto;
    width: 80%;
    margin-bottom: 5rem;
}

input, textarea {
    appearance: none;
    -webkit-appearance: none;
    border-radius: var(--bdr);
    border: none;
    background: var(--bg);
    box-shadow: 0 0 10px #00000057;
    transition: var(--trans);
    text-align: center;
}

input:hover, textarea:hover {
    box-shadow: var(--b-shadow);
    background: var(--tertiary-5);
}

.user-input {
    display: grid;
    box-shadow: var(--i-shadow), var(--b-shadow);
    border-radius: var(--bdr-2);
    grid-auto-rows: minmax(45px, auto);
    grid-template-columns: 1fr 1fr;
    gap: var(--pad);
    padding: var(--pad);
    grid-template-areas: 
     "name name"
     "mail mail"
     "number number"
     "message message"
     "message message"
     "submit submit";
}

#userName { grid-area: name; }
#userEmail { grid-area: mail; }
#phoneNumber { grid-area: number; }
#location { grid-area: location; }
#message { grid-area: message; }

#submit { grid-area: submit; background: var(--tertiary-2);}

#submit:hover {
    background: var(--tertiary);
    color: var(--primary);
    box-shadow: var(--i-shadow), var(--b-shadow);
}

textarea {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    resize: vertical;
}